<body style="margin:20px">
    <form action="/createAddItem" method="post">
        <div class="line">
            <label for="imgOfItem"><b>Image of item</b></label>
            <input type="text" name="imgItem" id="imgOfItem"/><br/>
        </div>
        <div class="line">
            <label for="classOfItem"><b>Class of item</b></label>
            <input type="text" name="classItem" id="classOfItem"/><br/>
        </div>    
        <div class="line">
            <label for="nameOfItem"><b>Name of item</b></label>
            <input type="text" name="nameItem" id="nameOfItem"/><br/> 
        </div>
        <div class="line">
            <label for="priceOfItem"><b>Price of item</b></label>
            <input type="text" name="priceItem" id="priceOfItem"/><br/>
        </div>    
        <div class="line">
            <label for="idOfItem"><b>Id of item</b></label>
            <input type="text" name="idItem" id="idOfItem"/><br/> 
        </div>
        <input type="submit" value="Add item">
    </form>
</body>