        <div class=holder>
            <div class=inholder>
                <form action="/auth/login" method="post">
                    <label for="username"><b>Username</b></label><br/>
                    <input class="input_login_1" type="text" name="login" placeholder="Enter your Username"/><br/>
                    <label for="password"><b>Password</b></label><br/>
                    <input class="input_login_2" type="password" name="password" placeholder="Enter your password"/><br/> 
                    <button class="button_submit_login" type="submit">Login</button>
                </form>
            </div>
        </div>